appdirs==1.4.4
certifi==2020.4.5.1
chardet==3.0.4
-e git+https://github.com/cldf/cldfbench/@35218fae227ca24cb135d11606d338bb4b59255c#egg=cldfbench
-e git+https://github.com/cldf/cldfcatalog@f26c9ac38c1ab111a55682ae83f4ac1cb03333c3#egg=cldfcatalog
-e git+https://github.com/LinguList/clldutils.git@a862d78e9145a931dec172708afd25ffd9920f7d#egg=clldutils
colorlog==4.1.0
-e git+https://github.com/cldf/csvw.git@af7d40bf541eca3dd499027179aa86a158405e7b#egg=csvw
decorator==4.4.2
gitdb==4.0.5
idna==2.9
isodate==0.6.0
jdcal==1.4.1
-e git+https://github.com/lingpy/lingpy.git@4d42cda2ecd7b54abaf1a2d4aa517c54ff89b573#egg=lingpy
-e git+https://github.com/lingpy/lingrex.git@03db1c4766c3d17559bd4a7f805959d5afb676b9#egg=lingrex
Markdown==3.2.2
networkx==2.2
newick==1.0.0
numpy==1.18.4
openpyxl==3.0.3
packaging==20.4
pluggy==0.13.1
purl==1.5
py==1.8.1
pybtex==0.22.2
pycldf==1.14.1
-e git+https://github.com/cldf-clts/pyclts@2ad3ba854f2506ff74b1ce7879331c855b7db974#egg=pyclts
-e git+https://github.com/concepticon/pyconcepticon.git@86cf8b33182298c709736360e65caf29570d940e#egg=pyconcepticon
pycountry==19.8.18
-e git+https://github.com/clld/pyglottolog.git@c17c4d48c35c0666d58eac89ba5ea806f62a14ff#egg=pyglottolog
-e git+https://github.com/lexibank/pylexibank.git@a678369afabdf1a723e52cc17d201771208510b4#egg=pylexibank
pytest==5.4.2
regex==2020.5.14
requests==2.23.0
rfc3986==1.4.0
segments==2.1.3
-e git+https://github.com/LinguList/chinese.git@c936119495729a24fe845bd9f2f9562b627774ed#egg=sinopy
six==1.15.0
smmap==3.0.4
SQLAlchemy==1.3.17
tabulate==0.8.7
termcolor==1.1.0
tqdm==4.46.0
uritemplate==3.0.1
urllib3==1.25.9
wcwidth==0.2.2
xlrd==1.2.0